{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.eu-gb.bluemix.net",
      "Org": "strachowski@ch.ibm.com",
      "Space": "PostGrid-Edu"
    },
    "Name": "device-simulator",
    "Instrumentation": {}
  },
  "Path": "",
  "Type": "Cloud Foundry"
}